---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Colloborate</div>
  </div>
  <div class="grow w-full flex-col md:flex-row">
    <h3> Collaborate as a Featured Artist with iLLUMINANZZ </h3>

    <p class="py-1 text-1xl">talent? 
iLLUMINANZZ invites skilled artists to collaborate and conduct workshops/classes in various art forms, particularly in Salsa, Bachata, Kizomba, Tango, Zouk, and more.
This collaboration opens the door to a vibrant, multicultural community eager to learn, engage, and appreciate diverse art forms. By joining forces with iLLUMINANZZ, you get the chance to expand your reach, inspire a dynamic audience, and contribute to a thriving creative ecosystem.
</p>
     <h3> Why Collaborate with iLLUMINANZZ? </h3>
     <p>     •	Connect with a Diverse Audience: Reach a broad, multicultural community passionate about dance and artistic expression.
•	Expand Your Influence: Position yourself as a leader in your art form and create meaningful impact.
•	Transparent Partnership: A well-structured commercial sharing plan ensures clarity on promotions, studio space, financial arrangements, and essential resources.
•	Grow with a Supportive Network: Collaborate with like-minded artists, gain exposure, and enhance your artistic journey.
</p>
     <h3> Collaboration Models</h3>
     <p> We offer three flexible collaboration models designed to cater to different levels of expertise and engagement:
1. Co-Creation & Training Model
In this model, both iLLUMINANZZ and the partner artist contribute to various aspects, including teaching, space rental, and promotional efforts. Each party's contributions are evaluated, and revenue distribution is determined accordingly to ensure a fair and balanced collaboration.
2. Established Artist Partnership
This model is tailored for experienced artists looking to train a group under the iLLUMINANZZ umbrella. The instructor receives a fixed fee for their services, based on their expertise, reputation, and the specific training program.
3. Aspiring Artist Launch
Designed for emerging artists, this model provides an opportunity to gain exposure and recognition. Aspiring artists pay a fixed amount for access to studio space, promotional support, and the prestige of being launched under the iLLUMINANZZ banner. This model helps new artists establish themselves while leveraging the credibility and branding benefits of iLLUMINANZZ.
</p>
  <p> Join Us Today! If you’re ready to collaborate, inspire, and make a difference through your art, we’d love to hear from you. Email us at celebrate@veeanta.com </p>


    
  </div>

  
  <div class="divider my-0"></div>


</BaseLayout>
