---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Events</div>
  </div>
  <div class="grow w-full flex-col md:flex-row">
    <h3>Events - <b>A CARNIVAL OF CREATIVITY!</b></h3>
    <p class="py-1 text-1xl">
      Step into the Carnival of Creativity, where passion meets opportunity! At
      iLLUMINANZZ, we believe in the power of Exchanging Skills—bringing
      together diverse creative talents from our Skill Pool and transforming
      them into unique, market-ready offerings.
    </p>
    <Image
      src="/indo-latin-bailamoz.png"
      class="w-full"
      alt="intro-ilb"
      width="1200"
      height="1200"
    />
    <p class="py-1 text-1xl">
      Our mission is to connect creators with their admirers, giving artists,
      innovators, and visionaries the recognition they deserve while turning
      their creative dreams into entrepreneurial success. Join us in shaping a
      world where creativity thrives, talents shine, and possibilities are
      limitless! Email us at celebrate@veeanta.com
    </p>
    <Image
      src="/bailamoz.png"
      class="w-full"
      alt="bailamoz"
      width="1200"
      height="1200"
    />
  </div>
  <div class="divider my-0"></div>
  <h3><b>Introducing TOAST-ANCHORS GLOBAL</b></h3>
  <Image
    src="/toastmasters.png"
    class="w-full"
    alt="bailamoz"
    width="1200"
    height="1200"
  />
  <p>
    Drawing inspiration from the successful model of Toastmasters International,
    ToastAnchors Global aims to create a supportive and inclusive environment
    where young minded individuals (of all ages) can flourish. Toast-Anchors
    Global is an innovative and dynamic speaking club specially designed for
    those who aspire to develop their public speaking, communication, and
    leadership skills.
  </p>
  <Image
    src="/tag.png"
    class="w-full"
    alt="bailamoz"
    width="1200"
    height="1200"
  />
  <h6><b>Key Features of Toast-Anchors Global:</b></h6>
  <p>
    Structured Meeting Formats: Toast-Anchors Global meetings will follow a
    structured format similar to Toastmasters, including impromptu speaking
    sessions, prepared speeches, and constructive feedback. Interactive
    Workshops: Regular workshops on public speaking techniques, effective
    communication, and leadership skills, facilitated by experienced mentors and
    professionals. Leadership Opportunities: Opportunities for young minded
    individuals to take on leadership roles within the club, enhancing their
    organizational and management skills. Peer Support and Mentorship: A
    supportive and encouraging environment where young minded individuals can
    share their experiences, provide constructive feedback to peers, and benefit
    from mentorship opportunities. Innovative Speech Formats: Introduction of
    creative speech formats, storytelling sessions, and multimedia presentations
    to nurture diverse forms of expression. Digital Engagement: Integration of
    virtual platforms to facilitate global connectivity, enabling members to
    interact with their peers from different cultures and backgrounds. Community
    Outreach: Initiatives focused on leveraging public speaking skills for
    community service, encouraging young minded individuals to make a positive
    impact through their voices. Celebrating Diversity: Embracing and
    celebrating the diversity of voices and perspectives within the club,
    creating an inclusive space where every young minded individual feels valued
    and heard.
  </p>

  <h6><b>Why Toast-Anchors Global? </b></h6>
  <p>
    Toast-Anchors Global aspires to be a beacon of empowerment for young minded
    individuals, equipping them with the skills and mindset needed to become
    articulate communicators, empathetic leaders, and catalysts for positive
    change in their communities and the world. To join us email us at
    celebrate@veeanta.com
  </p>
  <Image
    src="/ai-tag.png"
    class="w-full"
    alt="bailamoz"
    width="1200"
    height="1200"
  />

  <div class="divider my-0"></div>
  <h2><b>CALL FOR CALENDAR PHOTOSHOOT</b> </h2>
  <Image
  src="/calendar1.png"
  class="w-full"
  alt="bailamoz"
  width="1200"
  height="1200"
/>
<Image
  src="/calendar2.png"
  class="w-full"
  alt="bailamoz"
  width="1200"
  height="1200"
/>
<Image
  src="/calendar3.png"
  class="w-full"
  alt="bailamoz"
  width="1200"
  height="1200"
/>
</BaseLayout>
