---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { Image } from "astro:assets";
import { YouTube } from '@astro-community/astro-embed-youtube';
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">
        The Story of ‘Theme Art – Art with a Purpose’ 
    </div>
  </div>
  <div class="grow w-full flex-col md:flex-row">
    <h3><b>Suprabatham—It's Always A New Beginning: </b></h3>
    <YouTube id="https://youtu.be/_Pi6D2gNWQc" />
    <Image
      src="/iidc-c.png"
      class="w-full"
      alt="fiesta"
      width="1200"
      height="1200"
    />
    

    <p class="py-1 text-1xl">
      At the India International Dance Congress (IIDC), Asia’s largest dance
      festival, renowned artists from across the globe showcased their expertise
      in various dance forms. In this 3 day long festival, the opportunity to
      perform was exclusive—only those who cleared the IIDC team’s auditions and
      paid a premium fee were granted a slot.
    </p>
    <p class="py-1 text-1xl">
      In 2014 Veeanta conceptualized a 4D (music+dance+narration+video
      projections) a 6 & half minutes medley or fusion blend of music, various
      dance forms & acrobatics. She named it ‘Life Is Beautiful’ depicting that
      Love is supreme and portraying how love, joy & peace, triumph over
      violence and destruction with hope. The act opened with 'Suprabatham' &
      concluding with Suprabatham signifiying that every end culminates in the
      beginning of something New. Yes this indeed was the beginning of the
      foundation of 'Theme Art- An Art with a Purpose' founded by Veeanta, to
      use art as a transformative tool.
    </p>
    <p class="py-1 text-1xl">
      After numerous impactful performances of the 'The Theme Art- Life Is
      Beautiful' with diverse communities and groups endorsing that every art
      form is a transformative medium, Veeanta decided to participate in IID
      2015, with a vision beyond just performance. She invested 90% of her
      personal savings around 100000 to secure a spot IIDC in 2015. Rather than
      collaborating with trained dancers, she chose 40 students from grade 11 &
      12 of a government school in Karnataka—young individuals who had never set
      foot on a stage. This was not just about performing; it was about
      empowerment, exposure, and creating a lasting impact. It was not easy to
      convince the authorities, however she manged to.
    </p>
    <p class="py-1 text-1xl">
      By the time she overcame countless logistical hurdles —securing approvals,
      arranging practice space, and convincing parents to allow their children
      to participate, there were only 2 weeks left for the IIDC show. From
      there, 14 days of vigorous effort dedication where in she enabled the
      students facilitating them to improvise on the various dance forms by
      adding their acrobatic skills or hula hooping skills, adding few tips of
      image management and personality development exercises. Veeanta herself
      not knowing the local language Kannada, she learned the basics of Kannada
      from these students while upskilling in these students to translate the
      Kannada to english to help her learn & understand the basics Kannada. She
      designed the costumes in a cost-effective manner and after rigorous
      practice for synchronisation and alignment for the 2 weeks, arose the
      final unexpected challenge.
    </p>
    <p class="py-1 text-1xl">
      Veeanta herself was to present a cameo depicting 'love' in the Theme Art-
      Life Is Beautiul. And her friends from other professional dance
      communities, her friends had agreed to do the partner piece in the medley.
      However, just a couple of days before the IIDC show before the event, they
      withdrew, hesitant to share the stage with first-time performers.
      Undeterred, Veeanta trained one of her students in partner work, ensuring
      that the performance remained seamless.
    </p>
    <p class="py-1 text-1xl">
      Finally the enthralling “ Life Is Beautiful - Theme Art' was presented at
      the International platform. The performance received widespread
      recognition, not just for its artistic merit but for its message of
      empowerment and resilience. Many got inspired to join the cause and extend
      their support as Veeanta shared the video to her contacts. Remarkably,
      these participants students received sponsorships for their higher
      education and to follow from esteemed individuals. Every participant left
      with newfound pride, self-appreciation, and the audacity to celebrate
      themselves after having performed on the International stage. They emerged
      as strong, confident personalities, with some balancing part-time work
      alongside their studies.
    </p>
    <p class="py-1 text-1xl">
      Suprabatham, its always a new beginning ...a year later, Veeanta hosted a
      dinner & a salsa workshop at an exotic restaurant, where the Executive
      Director of an MNC addressed the gathering and offered further sponsorship
      to the participants. Suprabatham, it's always a new beginning, iLLUMINANZZ
      is a testament to Veeanta's enduring commitment to merge her passion with
      her purpose, creating a snowball effect of joy, positivity, and the
      transformative power of dance.
    </p>
    <p class="py-1 text-1xl">
      The Synergy of These Four Components of intrapreneurship/social
      entrepreneurship
      <ul>
        ✅ <span class="underline">Risk-Taking</span> – Investing personal resources
        & training first-time performers
      </ul>
      <ul>
        ✅ <span class="underline"> Innovation</span> – Creating a 4D Art Performance
        Model that merges multiple disciplines
      </ul>
      <ul>
        ✅ <span class="underline"> Manpower Planning </span> – Mobilizing underprivileged
        students & equipping them with skills
      </ul>
      <ul>
        ✅ <span class="underline">Profit-Making </span>– Generating long-term
        educational & career impact
      </ul>
    </p>
    <p class="py-1 text-1xl">
      "Theme Art – Life Is Beautiful" is a powerful case study of how social
      entrepreneurship can transform lives through creativity, inclusion, and
      empowerment. It stands as a testament to how art with a purpose can
      inspire change, create opportunities, and build sustainable futures.
    </p>
    <p class="py-1 text-1xl"></p>
    <Image
      src="/iidc-bw.png"
      class="w-full py-1"
      alt="fiesta"
      width="1200"
      height="1200"
    />
  </div>
</BaseLayout>
